<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Live & Learn</title>
</head>
<body>
{% for cat in cats %}
    <a href="/cats/{{ cat.slug }}">{{ cat.name  }}</a>

{% endfor %}
<hr>


    <h1>{{ post.title }}</h1>
    id: {{ post.id }}<br>
    <img src="{{ post.img }}" alt="">
    категория: <a href="/cats/{{ post.cat.slug }}">{{ post.cat.name }}</a><br>
    пользователь: <a href="/user/{{ post.user.id }}">{{ post.user.name }}</a><br>
<p>
    {{ post.text|raw }}
</p>


</body>
</html>